* { 
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #6c63ff;
    --color-success:#00bf8e;
    --color-warning:#f7c94b;
    --color-danger:#f75842;
    --color-danger-variant: rgba( 247 , 88 , 66 , 0.4 );
    --color-white: #fff;
    --color-light: rgba( 255 , 255 , 255 , 0.7 );
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bgl: #2e3267;
    --color-bg2: #424890;
    --color-bg3: #1696ec;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: black!important;
    background: #fff!important;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;

}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a{
    color: var(--color-white);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
}

.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

/* =========== NAVBAR ================ */

nav {
    background: black;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a {
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav__menu a:hover{
    color: var(--color-bg3);
}

/* =========== HEADER ================ */
header {
    position: relative;
    top: 5rem;
    overflow: hidden!important;
    height: 95vh;
    margin-bottom: 3rem;
}

.header__container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header__left p {
    margin: 1rem 0 2.4rem;
}
.header__right-image{
    position: relative;
    top: 0;
    left: 0;
}
.image2 {
    position: absolute;
    bottom: -30rem;
    top: ;
    left: ;
    z-index: 1;
  }
  .image1 {
    position: absolute;
    bottom: -15rem;
    top: ;
    left: ;
    z-index: 2;
}
.form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 7rem;
    left: 500px;
    background: rgb(0, 0, 0);
    padding: 21px;
    border-radius: 0.5rem;
    color: white;
  }

.input-box{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}

.input-box span {
    font-weight: 500;
}

.input-box input{
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.form-container form .submits {
    flex: 0 0 7;
    padding: 10px 44px;
    border: none;
    border-radius: 0.5rem;
    background: rgb(30, 195, 241);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

h1{
    font-style: oblique;
}
p {
    font-size: 18px;
}
.logo {
    max-width: 150px;
}
@media only screen and (max-width:1440px){
    .form-container form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 5rem;
        left: 290px;
        background: rgb(0, 0, 0);
        color: white;
        padding: 30px;
        border-radius: 0.5rem;
    }
    .image1 {
        position: absolute;
        bottom: -10rem;
        top: ;
        left: ;
        z-index: 2;
}
    .image2 {
        position: absolute;
        bottom: -21rem;
        top: ;
        left: ;
        z-index: 1;
}
}

@media only screen and (max-width:1360px){
    .image1 {
        position: absolute;
        bottom: -10rem;}
    .image2 {
        bottom: -20rem;}
    header{
        height: 87.5vh;
    }
    .form-container form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 1.5rem;
        left: 255px;
        background: rgb(0, 0, 0);
        padding: 20px;
        border-radius: 0.5rem;
        color: white;
      
} 

}

